@model Less_16.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexDetail</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <h2>Чел @Model.Name</h2>
    @Html.DisplayForModel()

    <a href="~/Employee/Index">главная</a>

</body>
</html>
